<HTML>                                    
<HEAD>                                    
<style type=\"text/css\">                 
%4                                        
</style>                                  
</HEAD>                                   
<BODY>                                    
<P><FONT SIZE=8> %1</FONT></P>            
<P><FONT SIZE=3> %2</FONT></P>            
<OL>                                      
<LI><P><FONT SIZE=5>Wstęp</FONT></P>   
Miejsce na wstęp.                 
<LI><P><FONT SIZE=5>Dane</FONT></P>       
%3                                        
<LI><P><FONT SIZE=5>Wnioski</FONT></P> 
Miejsce na wnioski.                 
</P>                                      
</OL>                                     
</P>                                      
</BODY>                                   
</HTML>                                   
        